.blog-single-slider .large--two-quarters{
    padding-bottom: 50px;
}
.box_tabs .tabs .tab a {
    text-align: center;
    background-color: #9a9a9a;
    color: #000;
    display: block;
    width: inherit;
}
.box_tabs .tabs .tab a:hover {
    background-color: #c8102e!important;
    color: #fff!important;
}
.box_tabs .tabs .tab a.active {
    background-color: #c8102e!important;
    color: #fff!important;
}
.section-title{
    text-align: right;
}
.box_tabs .tabs .tab{
    text-transform:none;
}

@media (max-width: 768px) {
    .blog-single-slider .large--two-quarters{
        padding-bottom:20px;
    }
    #blog-wrapper .blog-content .section-title{
        padding: 10px 0px;
        border:none;
    }
    .box_tabs .tabs .tab a{
        padding: 0 22px;
    }
}
